<form ng-submit="$ctrl.save()" class="form-horizontal" name="clienteForm" novalidate>
    <hr />
    <div class="form-body" ng-init="$ctrl.initializeForm(clienteForm)">
        <div class="form-group">
            <label class="control-label col-md-2">Nome</label>
            <div class="col-md-10">
                <input type="text" name="nome" placeholder="Digite o nome" class="form-control" ng-model="$ctrl.cliente.nome" required />
                <span class="error" ng-show="clienteForm.nome.$dirty && clienteForm.nome.$error.required">Nome é obrigatório</span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Tipo de Pessoa</label>
            <div class="col-md-10">
                <select ng-model="$ctrl.cliente.tipoPessoa" name="tipoPessoa" class="form-control" required ng-options="option.key as option.value for option in $ctrl.tipoPessoaOptions"
                    ng-change="$ctrl.onChangeTipoPessoa()">
                    </select>
                    <span class="error" ng-show="clienteForm.tipoPessoa.$dirrty && clienteForm.tipoPessoa.$error.required">Tipo de pessoa é obrigatório</span>
            </div>
        </div>
        <div ng-if="$ctrl.cliente.tipoPessoa == '1'" class="form-group">
            <label class="control-label col-md-2">Cpf</label>
            <div class="col-md-10">
                <input ng-model="$ctrl.cliente.documento" type="text" name="cpf" placeholder="Digite o cpf" class="form-control" maxlength="11" required ng-maxlength="11" ng-minlength="11" />
                <span class="error" ng-show="clienteForm.cpf.$dirty && clienteForm.cpf.$error.required">Cpf é obrigatório</span>
                <span class="error" ng-show="clienteForm.cpf.$dirty && clienteForm.cpf.$error.minlength || clienteForm.cpf.$error.maxlength">Tamanho inválido</span>
            </div>
        </div>
        <div ng-if="$ctrl.cliente.tipoPessoa == '2'" class="form-group">
            <label class="control-label col-md-2">Cnpj</label>
            <div class="col-md-10">
                <input ng-model="$ctrl.cliente.documento" type="text" name="cnpj" placeholder="Digite o cnpj" class="form-control" maxlength="14" required ng-minlength="14" ng-maxlength="14" />
                <span class="error" ng-show="clienteForm.cnpj.$dirty && clienteForm.cnpj.$error.required">Cnpj é obrigatório</span>
                <span class="error" ng-show="clienteForm.cnpj.$dirty && clienteForm.cnpj.$error.minlength || clienteForm.cnpj.$error.maxlength">Tamanho inválido</span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">E-mail</label>
            <div class="col-md-10">
                <input type="email" name="email" placeholder="Digite o e-mail" class="form-control" ng-model="$ctrl.cliente.email" required/>
                <span class="error" ng-show="clienteForm.email.$dirty && clienteForm.email.$error.required">E-mail é obrigatório</span>
                <span class="error" ng-show="clienteForm.email.$dirty && clienteForm.$error.email">E-mail é inválido</span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Telefones</label>
            <div class="col-md-10">

                <div class="table-scrollable">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th style="width:10%"></th>
                                <th style="width:90%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="telefone in $ctrl.cliente.telefones track by $index">
                                <td>
                                    <button type="button" ng-click="$ctrl.deletePhone(telefone)" class="btn btn-sm btn-default">
                                        <i class="fa-trash-o"></i>
                                    </button>
                                </td>
                                <td>{{telefone}}</td>
                            </tr>
                            <tr>
                                <td>
                                    <button type="button" ng-click="$ctrl.addPhone()" class="btn btn-sm green" ng-disabled="$ctrl.novoTelefone == undefined || $ctrl.novoTelefone == ''">
                                        <i class="fa fa-floppy-o"></i>
                                    </button>
                                </td>
                                <td><input type="text" name="numero" ng-model="$ctrl.novoTelefone" /></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary" ng-disabled="clienteForm.$invalid">Salvar</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div>
                    <a ui-sref="clientes.list">Voltar para lista</a>
                </div>
            </div>
        </div>
    </div>
</form>