<div>
    <div ng-cloak>
        <h3>{{tituloPessoaList}}</h3>
    </div>

    <a ui-sref="clientes.create">Cadastrar Novo Cliente</a>

    <div class="table-responsive">
        <table class="table col-sm-12 table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Tipo de Pessoa</th>
                    <th>Documento</th>
                    <th>E-mail</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="cliente in $ctrl.clientes">
                    <!--nome-->
                    <td>
                        <a ui-sref="clientes.edit({id: cliente.id})">{{cliente.nome}}</a>
                    </td>
                    <!--tipo de pessoa-->
                    <td>
                        <div ng-show="cliente.tipoPessoa == 1">
                            Física
                        </div>
                        <div ng-show="cliente.tipoPessoa == 2">
                            Jurídica
                        </div>
                    </td>
                    <!--documento-->
                    <td ng-show="cliente.tipoPessoa == 1">
                        {{cliente.documento | cpf}}
                    </td>
                    <td ng-show="cliente.tipoPessoa == 2">
                        {{cliente.documento | cnpj}}
                    </td>
                    <!--e-mail-->
                    <td>
                        <a ng-href="mailto:{{cliente.email}}">{{cliente.email}}</a>
                    </td>
                    <td></td>
                    <td>
                        <span>
                            <a class="btn btn-sm btn-primary" ui-sref="clientes.edit({id: cliente.id})">
                                Alterar
                            </a>
                        </span>
                        <span>
                            <a class="btn btn-sm btn-danger" ui-sref="clientes.delete({id: cliente.id})">
                                Excluir
                            </a>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>